*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pre-loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #F6F1DF;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-hide .pre-loader {
    display: none;
}

.container-centered {
    width: auto;
    height: auto;
}

.q-time {
    margin-left: 2em;
}

.q-time div {
    font-size: .9rem;
}

.q-time div:last-of-type {
    margin-top: .9em;
}

.quiz {
    margin: 2em 2em 2em 2em;
}

.quiz .quiz-question {
    padding: 2em 2em;
    background-color: #F6F1DF;
    border: 2px solid black;
    border-radius: .8em;
}

.quiz .quiz-question-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    margin-top: 3em;
}

.quiz-question-options .option {
    background-color: #F6F1DF;
    border: 2px solid black;
    padding: 1.3em 1.5em;
    border-radius: .8em;
    position: relative;
}

.option p {
    margin-left: 2em;
}

.option::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: .1em;
    border-radius: 50%;
    border: 2px solid black;
}

.quiz-prv-next-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4.5em 2em 0 2em;
}

.quiz-prv-next-btn .control {
    height: 1.8em;
    width: 1.8em;
    background-color: blanchedalmond;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
}

.option-clicked {
    background-color: black !important;
    color: white;
}

.option-clicked::before {
    background-color: white;
}